    
<%= form_for :user, html:{class: "form-signin"}, url: sessions_path do |f| %>
	<p>
		<%= f.text_field :first, :placeholder => "First Name", class: "form-control" %>
	</p>
	<p>
		<%= f.text_field :last, :placeholder => "Last Name", class: "form-control" %>
	</p>
	<p>
		<%= f.text_field :email, :placeholder => "Email", class: "form-control" %>
	</p>
	<p>
		<%= f.password_field :password, :placeholder => "Password", class: "form-control" %>
	</p>
	<p>
		<%= f.password_field :password_confirmation, :placeholder => "Password Confirm", class: "form-control" %>
	</p>
	<p>
		<%= f.submit "RSVP", class: "btn btn-block btn-primary" %>
	</p>
<% end %>