
<table class="table table-hover norm">
	<thead>
		<tr class=""> 
			<td>First Name</td>
			<td>Last Name</td>
			<td>Email</td>
			<td>Attendance</td>
			<td>Newsletter</td>
			<td>Veg Meals</td>
			<td>Total Attending,  <%= @count %></td>
			<td>Comments</td>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<% if user.attendance == 'No'%>
				<tr>
			<% else %>
				<tr class="success">
			<% end %>
			<td>
				<h5>
					<%if user.first && user.first != 'Admin' %>
					<%= user.first.capitalize %>
					<%end%>
				</h5>
			</td>
			<td>
				<h5>
					<%if user.last && user.first != 'Admin' %>
					<%= user.last.capitalize %>
					<% end %>
				</h5>
			</td>
			<td>
				<h5>
					<% if user.email && user.first != 'Admin'%>
					<%= user.email %>
					<%end%>
				</h5>
			</td>
			<td>
				<h4>
					<%if user.attendance && user.first != 'Admin' %>
					<%= user.attendance.capitalize %>
					<% end %>
				</h4>
			</td>
			<td>
				<h4>
					<%if user.newsletter && user.first != 'Admin' %>
					<%= user.newsletter.capitalize %>
					<% end %>
				</h4>
			</td>
			<td>
				<h4>
					<%if user.meal  && user.first != 'Admin' %>
					<%= user.meal %>
					<% end %>
				</h4>
			</td>
			<td>
				<h4>
					<%if user.plus_one && user.first != 'Admin' %>
					<%= user.plus_one %>
					<% end %>
				</h4>
			</td>
			<td>
				<p>
					<%if user.reply && user.first != 'Admin' %>
						<%= user.reply %>
					<% end %>
				</p>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>