<div class="jumbotron">
	<div class="row">
	
	<div class=" col-lg-4 intro text-center">
		<h1 class="text-center clg">Sarah <br> & <br> Ruskin's</h1>
		<h1 class="text-center clg">
			Wedding
		</h1>
		<br>
		<h4>
			January 8,
		</h4>
		<h1>
			 2015
		</h1>
	</div>

		<div class="col-lg-6 col-lg-offset-0">
			<%= image_tag('unnamed.jpg', width:'670') %>
		</div>
	</div>
	<hr>

	<div class="col-lg-6">
		<% if current_user %>
		<% else %>
			<p>
				<a id="show_me" class="btn btn-info btn-block" href="#" role="button">
					RSVP
				</a>
			</p>
		<span class="rsvpying">
			<%= render 'users/sign_in_2' %>
		</span>
		<% end %>	
	</div>
	<div class="col-lg-6">
			<%= render 'users/news_letter_sign_up' %>
		
	</div>
	<div class="clearfix"></div>
</div>

<hr>

<div class="row">
	<%= render "users/bio" %>
</div>

<div class="row">
	<%= render "users/chart" %>
</div>

<hr>

<div class="row">
	<div class="col-lg-6">
	<%= render "users/slider" %>
	</div>
	<div class="col-lg-6">
	<%= render "users/proposal" %>
	</div>
</div>