<!DOCTYPE html>
<html>
<head>
  <title>RuskinSarahWedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header class="masthead">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/#home-anchor">Home</a></li>
        <li><a href="/#rsvp-anchor">RSVP</a></li>
        <li><a href="/#prop-anchor">Proposal</a></li>
        <li><a href="/#wedding-anchor">Where</a></li>
      </ul>
      </div>
    </header>
    <br>
    <br>
    <br>
	<div class="container">
		<%= yield %>
	
	 <hr>
		<footer>
     <ul class="pull-right">
        <li>
        <% if @current_user %>
          <%= link_to "Log out", session_path(@current_user), method: :delete, class: 'btn btn-default' %>   
        <% else %>  
          <%= render 'users/admin' %>
        <% end %>
        </li>
      </ul>  
    </footer>
    <div class="clearfix"></div>
    <hr>
	</div>
	</body>
</html>
